<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <!-- Main content -->
    <div class="container mt-5">
      <h1>About This WebApp</h1>
      
      <p><h3></p>Overview</h3></p>
      <p>This TODO application allows you to:</p>
      <ul>
          <li>Add new tasks with titles and descriptions.</li>
          <li>Update existing tasks to keep track of changes.</li>
          <li>Delete tasks when they are no longer needed.</li>
          <li>Search for specific tasks to quickly find what you need.</li>
      </ul>
      <p><h3></p>Motivation</h3></p>
      <p>As a student, keeping track of assignments, deadlines, and personal tasks can be challenging. I created this app to make it easier to stay organized and focused on what needs to be done.</p>
      <p><h3></p>I used</h3></p>
      <ul>
          <li>Flask for the web framework</li>
          <li>SQLite for the database</li>
          <li>Bootstrap for styling</li>
          <li>HTML and CSS for structure and design</li>
      </ul>
      
      <a href="https://github.com/Techno-Furious/Flask-Todo" target="_blank" class="btn btn-outline-dark position-relative btn-lg">
        View Code on GitHub!
        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
            <span class="visually-hidden">Visit GitHub</span>
        </span>
    </a>
    
      <p>Thank you for visiting my project!</p>
      
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
